<launch>

    <param name="x0" value="0" type="double"/>
    <param name="y0" value="0" type="double"/>
    <param name="theta0" value="-0.534" type="double"/>

    <node pkg="first_project" name="scout_velocity" type="scout_velocity" output="screen"/>
    <node pkg="first_project" name="odometry" type="odometry" output="screen"/>

    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(find first_project)/bag1.bag"/>

</launch>
